* {
    font-family: 'Arima Madurai', cursive;
}

.founder-message {
    padding: 2rem;
    background-color: #f8f9fa;
    margin-top: 0;
    line-height: 1.8rem;
    /* Light background color for contrast */
}

.founder-message h5 {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-weight: 700;
    color: #000000;
    font-size: small;
    /* Deep blue for heading */
    margin-bottom: 1.5rem;
}

.founder-message h3 {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-weight: 700;
    color: #000000;

    /* Deep blue for heading */
    margin-bottom: 2rem;
}


.founder-message p {
    font-family: 'Arima Madurai', cursive;
    font-weight: 400;
    color: #000000;
    /* Grey text for regular content */
    font-size: 1rem;
}

.img-fluid {

    /* Make the image round */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    max-width: 100%;
    /* Fixed max-width for consistency */
    height: 40rem;
    border-radius: 10px;

    /* Maintain aspect ratio */
}

#founder-img {
    margin-left: 10rem
}

@media (max-width: 768px) {
    .founder-message {
        text-align: center;
        /* Center everything on small screens */
    }

    .founder-message .col-md-6 {
        margin-bottom: 1rem;
        /* Space between text and image on small screens */
    }

    .img-fluid {
        max-width: 100%;
        /* Slightly smaller image on mobile devices */
        display: block;
        margin: 0 auto;
        /* Center the image */
    }
}