* {
    font-family: 'Arima Madurai', cursive;
}

.team-section {
    padding: 4rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.team-section .team-text p {

    font-weight: 700;
    color: #004174;
    margin-bottom: 1rem;
    position: relative;
    line-height: 1.8rem;
}

.team-section .team-text h2::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;

    /* Adjust to match the desired border radius */
}


.team-section h4 {
    text-align: center;
}


.team-section .team-text p {

    color: #666;
    font-size: 1rem;
}

.team-image {
    margin-top: 3rem;
    max-width: 100%;
    height: 15rem;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .team-section .team-text h2 {
        font-size: 1.5rem;
    }

    .team-section .team-text p {
        font-size: 0.9rem;
    }

    .team-image {
        max-width: 100%;
        margin-top: 1rem;
    }
}